<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SellerList</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}

        <table border="1">
           <tr>
            <td colspan="13" align="center">Seller List</td>
           </tr>
            <tr>
            <td>Sl No</td>
            <td>Name</td>
            <td>Contact_Number</td>
            <td>E-mail</td>
            <td>District</td>
            <td>Place</td>
            <td>Estd Date</td>
            <td>License Number</td>
            <td>Owner Name</td>
            <td>License Proof</td>
            <td>Owner proof</td>
            <td colspan="2">Action</td>
        </tr>
        <tr>
            {% for i in seller  %}
            <td>{{forloop.counter}}</td>
            <td>{{i.user_name}}</td>
            <td>{{i.contact_number}}</td>
            <td>{{i.user_email}}</td>
            <td>{{i.place.district.district_name}}</td>
            <td>{{i.place.place_name}}</td>
            <td>{{i.estd_date}}</td>
            <td>{{i.license_number}}</td>
            <td>{{i.owner_name}}</td>
            <td><img src="{{i.license_proof.url}}" alt="Profile Picture" width="230" height="230"></td>
            <td><img src="{{i.owner_proof.url}}" alt="Profile Picture" width="230" height="230"></td>
            
            <td>{% if i.seller_status == 0 %}
                <button><a href="{% url 'Admin:acceptseller' i.id %}">Accept</a></button>
                <button><a href="{% url 'Admin:rejectseller' i.id %}">Reject</a></button>
                {% elif i.seller_status == 1 %}
                Verified
                {% elif i.seller_status == 2 %}
                Rejected
                {% endif %}
            </td>
            
        </tr>
       {% endfor %}
    </table>
  
    <br><br>
     <table border="1">
           <tr>
            <td colspan="13" align="center">Accepted Seller List</td>
           </tr>
            <tr>
            <td>Sl No</td>
            <td>Name</td>
            <td>Contact_Number</td>
            <td>E-mail</td>
            <td>District</td>
            <td>Place</td>
            <td>Estd Date</td>
            <td>License Number</td>
            <td>Owner Name</td>
            <td>License Proof</td>
            <td>Owner proof</td>
            <td colspan="2">Action</td>
        </tr>
        <tr>
            {% for i in acceptedlist  %}
            <td>{{forloop.counter}}</td>
            <td>{{i.user_name}}</td>
            <td>{{i.contact_number}}</td>
            <td>{{i.user_email}}</td>
            <td>{{i.place.district.district_name}}</td>
            <td>{{i.place.place_name}}</td>
            <td>{{i.estd_date}}</td>
            <td>{{i.license_number}}</td>
            <td>{{i.owner_name}}</td>
            <td><img src="{{i.license_proof.url}}" alt="Profile Picture" width="230" height="230"></td>
            <td><img src="{{i.owner_proof.url}}" alt="Profile Picture" width="230" height="230"></td>
            
            <td>
                
                <button><a href="{% url 'Admin:rejectseller' i.id %}">Reject</a></button>
               
            </td>
            
        </tr>
       {% endfor %}
    </table>




    <br><br>
     <table border="1">
           <tr>
            <td colspan="13" align="center">Rejected Seller List</td>
           </tr>
            <tr>
            <td>Sl No</td>
            <td>Name</td>
            <td>Contact_Number</td>
            <td>E-mail</td>
            <td>District</td>
            <td>Place</td>
            <td>Estd Date</td>
            <td>License Number</td>
            <td>Owner Name</td>
            <td>License Proof</td>
            <td>Owner proof</td>
            <td colspan="2">Action</td>
        </tr>
        <tr>
            {% for i in rejectedlist  %}
            <td>{{forloop.counter}}</td>
            <td>{{i.user_name}}</td>
            <td>{{i.contact_number}}</td>
            <td>{{i.user_email}}</td>
            <td>{{i.place.district.district_name}}</td>
            <td>{{i.place.place_name}}</td>
            <td>{{i.estd_date}}</td>
            <td>{{i.license_number}}</td>
            <td>{{i.owner_name}}</td>
            <td><img src="{{i.license_proof.url}}" alt="Profile Picture" width="230" height="230"></td>
            <td><img src="{{i.owner_proof.url}}" alt="Profile Picture" width="230" height="230"></td>
            
            <td>
                <button><a href="{% url 'Admin:acceptseller' i.id %}">Accept</a></button>
               
                
            </td>
            
        </tr>
       {% endfor %}
    </table>




    </form>
</body>
</html>

{% if msg %}
<script>
    alert("{{msg}}")
     window.location="{% url 'Admin:SellerView' %}"
</script>
{% endif %}